.finger {
  position: absolute;
  width: 20px;
  height: 20px;
  transition: all 0.15s linear;
  z-index: 1000;
}

.star::after {
  display: block;
  content: '';
  color: gold;
  width: 5px;
  height: 5px;
}